@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.red {
  border: 1px solid red;
}
.blue {
  border: 1px solid blue;
}

.transition-background {
  transition: background-image 1s ease-in-out;
}