@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.transition-background {
  transition: background-image 1s ease-in-out;
}

#serviceshomepage {
  background-image: url('../public/images/servicesbg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
